{
  "presets": [
    "stage-2",
    [
      "env",
      {
        "targets": {
          "node": "4.0.0",
          "browsers": [
            "last 2 versions",
            "ie 11"
          ]
        }
      }
    ]
  ],
  "env": {
    "browser": {
      "sourceMaps": true,
      "compact": true,
      "minified": true,
      "retainLines": false,
      "comments": false,
      "presets": [
        "minify"
      ],
      "plugins": [
        "transform-es2015-modules-umd"
      ]
    }
  }
}